<a href="/mobile-phones/samsung/samsung-galaxy-s9/phone-plans">
    <div class="section section-phone-banner-primary pt-30 pb-30 mb-0">
        <div class="container-bs3">
            <div class="row-bs3 clearfix">
                <div class="col-xs-6 text-left">
                    <img src="/styleguide/images/content/home/samsung-galaxy-s9/samsung-logo.svg"
                         alt="SAMSUNG"
                         class="brand-logo">
                </div>
                <div class="col-xs-6 text-right">
                    <img src="/styleguide/images/content/home/samsung-galaxy-s9/galaxyS9-logo.svg"
                         alt="Galaxy S9|S9+"
                         class="brand-logo">
                </div>
            </div>
            <div class="row-bs3 clearfix">
                <div class="col-xs-12 col-sm-4 pt-10 pt-sm-100 pt-md-130 pt-lg-160 pb-20 col-sm-push-7">
                    <div class="container-bs3">
                        <div class="row-bs3">
                            <div class="col-xs-12 col-xs-center">
                                <div class="pb-10 col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                                    <img class="section-phone-banner-primary__slogan-img"
                                         src="/styleguide/images/content/home/samsung-galaxy-s9/galaxyS9-title.svg"
                                         alt="The camera. Reimagined."
                                    >
                                </div>
                                {% if primaryBanner.isPreRegister %}
                                    <button class="btn btn-primary visible-desktop">Pre-register now</button>
                                {% else %}
                                    <button class="btn btn-primary visible-desktop">Buy now</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-2 center col-sm-pull-4">
                    <img class="section-phone-banner-primary__product-img"
                         src="/styleguide/images/content/home/samsung-galaxy-s9/galaxyS9@2x.jpg"
                         alt=""
                    >
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</a>
