<div class="section section-phone-banner-secondary secondary-phone-banner__with-cta pt-20 px-10">
    <div class="container-bs3">
        <div class="row-bs3">
            <div class="col-sm-2 col-sm-offset-1 col-xs-8 col-xs-offset-2 center pt-10 pb-md-20">
                <img class="section-phone-banner-secondary__logo"
                     src="/styleguide/images/content/home/apple-iphone-x/iphoneX_logo@2x.png"
                     alt=""
                >
            </div>
            <div class="col-sm-3 center pt-20 col-sm-push-6 pb-md-20">
                <a class="btn btn-primary"
                   href="/mobile-phones/apple/apple-iphone-x/phone-details">
                    <span>Buy now</span>
                </a>
            </div>
            <div class="col-sm-5 col-sm-offset-1 col-sm-pull-3 center pt-10">
                <img class="section-phone-banner-secondary__product-img"
                     src="/styleguide/images/content/home/apple-iphone-x/iphoneX@2x.png"
                     alt=""
                >
            </div>
        </div>
    </div>
</div>
<a href="/mobile-phones/apple/apple-iphone-x/phone-details" class="secondary-phone-banner__no-cta">
    <div class="section section-phone-banner-secondary pt-20 px-10">
        <div class="container-bs3">
            <div class="row-bs3">
                <div class="col-sm-2 col-sm-offset-4 col-xs-8 col-xs-offset-2 center pt-10 pb-md-20">
                    <img class="section-phone-banner-secondary__logo"
                         src="/styleguide/images/content/home/apple-iphone-x/iphoneX_logo@2x.png"
                         alt="iPhone X"
                    >
                </div>
                <div class="col-sm-5 col-sm-offset-1 center pt-10">
                    <img class="section-phone-banner-secondary__product-img"
                         src="/styleguide/images/content/home/apple-iphone-x/iphoneX@2x.png"
                         alt=""
                    >
                </div>
            </div>
        </div>
    </div>
</a>
