<div class="row">
    <div class="span12 span-wrap tab-loans">
        <div class="row-fluid">
            <div class="span12 center">
                <h2><span class="header-prefix">Introducing</span>
                    <a class="image-link" href="/money"><img
                                src="/styleguide/images/content/home/gameplan/giffgaff-money_logo@2x.png"
                                alt="Budgeting the Shakespeare way" width="218"
                                height="37"></a>
                </h2>
            </div>
            <div class="span6">
                <p class="description">###("/home/section/loan/col_p")###</p>
            </div>
            <div class="span6">
                <div class="loans-column">
                    <a class="image-link"
                       href="money/loans/know-how/personal-finance/personal-finance-tips-from-shakespeare-">
                        <img src="/styleguide/images/content/home/gameplan/giffgaff_HP_money_banner_article@2x.png"
                             alt="Budgeting the Shakespeare way"
                             width="600"
                             height="300"></a>
                </div>
            </div>
            <div class="center">
                <a href="money/loans/know-how"
                   class="btn btn-secondary browse-money-cta">###('/homepage/money-section/cta')###</a>
            </div>
        </div>
    </div>
</div>
