<div class="section-gameplan__container">
    <div class="body section-gameplan__body">
        <div class="money_logo">
            <a class="image-link" href="/gameplan">
                <img src="/styleguide/images/content/home/gameplan/gameplan-logo.svg"
                     alt="giffgaff gameplan logo"
                     width="218"
                     height="37">
            </a>
        </div>
        <div class="default-version">
            <div class="section-gameplan__content">
                <h2 class="title title-black">Why wait? Get your free credit report</h2>
                <p>Good deals go hand in hand with a better credit score.</p>
                <a href="/gameplan/free_credit_report"
                   class="btn btn-large btn-secondary section-gameplan__btn-white-background">
                    Get your free report
                </a>
            </div>
        </div>
    </div>
    <div class="section-gameplan__image-container">
        <img src="/styleguide/images/content/home/gameplan/FCR_banner_hand.png"
             alt="giffgaff gameplan hand"
             class="section-gameplan__image">
    </div>
</div>
